{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href='{% static "styles.css" %}'>
</head>
<body>
    <ul>
        <li><a href="/class">Классовое представление</a></li>
        <li><a href="/func">Функциональное представление</a></li>
    </ul>
    <h2><a href="/platform">Платформа</a></h2>
    <h2><a href="/login/django">Лог через django</a></h2>
    <h2><a href="/login/html">Лог через html</a></h2>
</body>
</html>